.vs/Solution1/FileContentIndex/b8c97bfa-a390-4187-bbee-299ba594a694.vsidx
.vs/Solution1/FileContentIndex/e8c674dc-fa76-4ec7-a438-5e9c6b98da19.vsidx
.vs/Solution1/v17/.suo
.vs/Solution1/v17/Browse.VC.db
.vs/Solution1/v17/Solution.VC.db
.vs/Solution1/v17/ipch/956e616306030e22.ipch
.vs/Solution1/v17/ipch/AutoPCH/49d3b48cbb931b30/MAIN.ipch
TEST1/.gitignore
TEST1/TEST1.vcxproj
TEST1/TEST1.vcxproj.filters
.vs/Solution1/FileContentIndex/96bd5774-4bc8-468c-a173-f5a6c99b1546.vsidx
.vs/Solution1/FileContentIndex/a8198332-cc81-417c-91f8-082ce68b5b7a.vsidx
.vs/Solution1/v17/Browse.VC.db-shm
.vs/Solution1/v17/Browse.VC.db-wal
.vs/Solution1/v17/Browse.VC.opendb
.vs/Solution1/v17/Solution.VC.db-shm
.vs/Solution1/v17/Solution.VC.db-wal